{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>UnitedKits</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-700 flex items-center justify-center">

  <div class="flex flex-col md:flex-row items-center justify-center w-full max-w-6xl space-y-8 md:space-y-0 md:space-x-8">

    <div class="flex justify-center md:w-1/2">
      <img src="{% static 'image/logo.png' %}" alt="Logo" class="w-96 h-96 object-contain">
    </div>

    <div class="flex flex-col items-center md:w-1/2 space-y-6">
      <div class="grid grid-cols-1 gap-8 w-full">
        {% include "card_info.html" with title='Name' value=nama %}
        {% include "card_info.html" with title='NPM' value=npm %}
        {% include "card_info.html" with title='Class' value=kelas %}
      </div>

      <div class="flex rounded-md items-center bg-red-600 py-2 px-4 w-fit">
        <h1 class="text-white text-center font-serif">Last Login: {{last_login}}</h1>
      </div>

      <a href="{% url 'main:your_order' %}" class="bg-sky-500 hover:bg-lime-500 text-white font-serif font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105 max-w-md">
          Start Ordering
      </a>
    </div>
  </div>
</div>
{% endblock content %}
