{% extends 'base.html' %}
{% block content %}
<title>Gopedia</title>
<style>
    body {
        background-color: #202120; /* Set background color */
        text-align: center; /* Center all text */
        color: white; /* Optional: change text color to white for better visibility */
    }
    h1 {
        font-size: 50px; /* Enlarge the Gopedia heading */
        color: #18be18;
        line-height: 1; /* Reduce line spacing for h1 */
    }
    p, h5 {
        font-size: 18px; /* Optional: Adjust the size of the rest of the text */
        
        line-height: 1; /* Reduce line spacing for h1 */
    }
    .top-left {
        position: absolute;
        top: 10px; /* Adjust as needed */
        left: 10px; /* Adjust as needed */
        text-align: left; /* Align text to the left */
        font-size: 50px; /* Adjust font size for the top-left text */
        color: white; /* Ensure it's visible against the background */
    }
    .top-left p {
        font-size: 32px; /* Adjust font size for the top-left text */
    }
    /* .top-right {
        position: absolute;
        top: 10px; 
        right: 10px; 
        text-align: left; 
        font-size: 50px; 
        color: white;
    }
    .top-right p {
        font-size: 16px;
    } */
</style>
<div class="top-left">
    <p>{{ nama }}</p>
    <p>{{ npm }}</p>
    <p>{{ kelas }}</p>
</div>

<h1>{{app_name}}</h1>
<img src="/static/images/Ugarte 24 25 Away Kit.png" alt="Manuel Ugarte wearing United 24/25 Away Kit">
<h5>Nama Barang: </h5>
<p>{{ name }}<p>
<h5>Harga: </h5>
<p>Rp {{ price }}<p>
<h5>Deskripsi: </h5>
<p>{{ description }}<p>
<h5>Stock Barang: </h5>
<p>{{ stock }}<p>
<h5>Barang Terjual: </h5>
<p>{{ sold }}<p>

{% endblock content %}