{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Products</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="flex flex-col items-center justify-center min-h-screen">
    <h1 class="text-3xl font-serif font-bold mb-6 text-white">Select Season and Type</h1>

    <form method="POST" class="space-y-4 mb-6">
        {% csrf_token %}
        <div class="flex space-x-4 mb-4">
            <div class="w-1/2">
                <label for="{{ form.season.id_for_label }}" class="font-semibold text-gray-700">
                    {{ form.season.label }}
                </label>
                {{ form.season }}
            </div>
            <div class="w-1/2">
                <label for="{{ form.type.id_for_label }}" class="font-semibold text-gray-700">
                    {{ form.type.label }}
                </label>
                {{ form.type }}
            </div>
        </div>
        <div class="flex justify-center">
            <button type="submit" class="bg-sky-500 hover:bg-lime-500 text-white font-serif font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-search">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                    <path d="M21 21l-6 -6" />
                </svg>
            </button>
        </div>
    </form>

    {% if image_filename %}
        <div class="flex justify-center items-center mb-4">
            <img src="{% static 'image/jerseys/' %}{{ image_filename }}" alt="{{ image_filename }}" class="w-1/4 h-auto rounded-lg"/>
        </div>
    {% endif %}
</div>
{% endblock content %}
